* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*navbar*/
.nav-link {
  font-family: "Oswald", sans-serif;
}
.hero {
  background-image: url("./images/bg.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
}
.macarons {
  background-color: rgba(231, 229, 213, 0.3);
}
.macaron {
  border: none !important;
}
.macaron h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.macaron p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
}
.macaron .product-price {
  color: #ec348c;
  font-size: 1.2rem;
}
.macaron .product-price strong::before {
  content: "$";
}
.macaron .line-through {
  text-decoration: line-through;
  font-size: 0.7rem;
}
.macaron .line-through::before {
  content: "$";
} 
.macaron .product-line-price::before {
  content: "$";
} 
.macaron .quantity-controller p {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
} 
.macaron .quantity-btn {
  background-color: #e7e5d5;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.514);
  border: none;
  padding: 3px 5px;
  border-radius: 2px;  
}
.macaron .remove-product {
  background-color: #ec348c;
  border: none;
  border-radius: 5px;
  padding: 3px;
  color: #e7e5d5; 
  font-weight: 600;
  transition: all 1s;
  transform: scale(1) translateX(-5px);
}
.macaron .remove-product:hover {
  transform: scale(1) translateX(5px);
  transition: all 1s;
}

.macaron img {  
  transition: all 1.5s;
}
.macaron img:hover {
  transform: scale(1.1) translateY(5px);
  transition: all 1.5s;
} 

.card {
  text-align: center; 
  position: relative;
  overflow: hidden; 
  margin: auto;
  background-color: rgb(209, 209, 157);
  border-radius: 8px;
  margin-bottom: 1.3rem;
  max-width: 80%;
  max-height: 80%;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  transition: all 0.8s;
}

.card:hover img {
  transform: scale(1.1) translateY(20px);
}

.card-body {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  transition: all 0.6s;
}

.name {
  transform: translateX(300px);
  transition: all 0.6s;
  font-size: 2rem;
} 

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ec348c;
  border-radius: 5px;
  opacity: 0.6;
  transform: translateY(1000px);
  transition: all 0.6s;
}

.btn-primary {
  background-color: #ec348c !important;
  border: none !important;
  transform: translateY(500px);
  transition: all .6s;
}

.card:hover .background,
.card:hover .name,
.card:hover .position, .card:hover .btn-primary
{
  transform: translateY(0px);
  color: #e7e5d5;
}

.position {
  transform: translateY(-800px);
  transition: all 0.6s;
  font-size: 1rem;
  line-height: 2rem;
}
 
.general-total-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.buy-detail {  
  display: flex;
  position: relative;  
  font-family: "Oswald", sans-serif;
}
.buy-detail:hover { 
  transition: all 0.6s;
  box-shadow: #ec348dab 8px 3px 8px;
}

.buy-detail p {
  display: block;
  width: 50%;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ec348c;
  padding: 15px;
}

.buy-detail p:nth-child(2) {
  text-align: right;
}
 


.macaron-yummy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}
.order {
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  background-color: #ec348c;
  color: #e7e5d5;
  font-weight: 600;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.macaron-yummy h1 {
  color: #e7e5d5;
}
.macaron-yummy p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}
.gift-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.gift-description h2 {
  line-height: 3rem;
}
.gift-description p {
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.782);
  font-size: 1.1rem;
} 

.work-bg {
  background-image: url("./images/work-bg.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.work-yummy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.work-yummy h3 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}
.work-yummy p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.btn-success {
  width: 50%;
  background-color: #ec348c !important;
  border: none !important;
  font-family: 'Montserrat', sans-serif;
}
.main-footer {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8rem;
}
.main-footer h5 {
  font-weight: bolder;
  font-size: 23px;
  color: #ec348c;
}
.main-footer span {
  font-weight: bold;
}
.btn-light {
  background-color: #ec348c !important;
  border: none !important;
  color: #e7e5d5 !important;
  font-size: .9rem !important;
}