* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/
.nav-link {
  font-family: "Oswald", sans-serif;
}
.hero {
  background-image: url("./images/bg.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
}

/*******************/

.macorons {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.card {
  text-align: center;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  background-color: rgb(209, 209, 157);
  border-radius: 8px;
  margin-bottom: 1.3rem;
}

.card img {
  /* position: absolute; */
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  transition: all 0.8s;
}

.card:hover img {
  transform: scale(1.3) translateY(40px);
}

.text {
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.6s;
}

.name {
  transform: translateX(300px);
  transition: all 0.6s;
}

.phone {
  transform: translateY(300px);
  transition: all 0.6s;
}

.background {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #ec348c;
  border-radius: 5px;
  opacity: 0.6;
  transform: translateY(300px);
  transition: all 0.6s;
}

.card:hover .background,
.card:hover .name,
.card:hover .position,
.card:hover .phone {
  transform: translateY(0px);
}

.position {
  transform: translateY(-300px);
  transition: all 0.6s;
}

/*******************/

.macaron-yummy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}
.order {
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  background-color: #ec348c;
  color: aliceblue;
  font-weight: 600;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.macaron-yummy h1 {
  color: aliceblue;
}
.macaron-yummy p {
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}
.gift-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.gift-description h2 {
  line-height: 3rem;
}
.gift-description p {
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.782);
  font-size: 1.1rem;
}
.macarons {
  background-color: #e7e5d5;
}

.work-bg {
  background-image: url("./images/work-bg.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.work-yummy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.work-yummy h3 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}
.work-yummy p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.btn-success {
  width: 50%;
  background-color: #ec348c !important;
  border: none !important;
  font-family: "Poppins", sans-serif;
}
.main-footer {
  font-family: "Poppins", sans-serif;
  line-height: 1.8rem;
}
.main-footer h5 {
  font-weight: bolder;
  font-size: 23px;
  color: #ec348c;
}
.main-footer span {
  font-weight: bold;
}
.btn-primary {
  background-color: #ec348c !important;
  border: none !important;
}
