* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navbar*/
.nav-link {
    font-family: 'Oswald', sans-serif;
}
.hero { 
    background-image: url("./images/bg.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.hero-container {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
}
.macaron-yummy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}
.order {
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: .7rem 3rem;
    border-radius: 2rem;
    background-color: #ec348c;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.macaron-yummy h1 {
    color: aliceblue;
}
.macaron-yummy p {
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    font-size: 1rem;
} 
.gift-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.gift-description h2 {
    line-height: 3rem; 
}
.gift-description p {
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.782);
    font-size: 1.1rem;
}
.macarons {
    background-color: #e7e5d5;
}
.work-bg {
    background-image: url("./images/work-bg.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.work-yummy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.work-yummy h3 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}
.work-yummy p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}
.yummy-btn {
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 20%;
    padding: .7rem 3rem;
    border-radius: 2rem;
    background-color: #ec348c;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}